<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:data="http://www.thymeleaf.org/extras/data">
		
<head>
<title th:text="#{users.title}"></title>
<link th:replace="fragments/head :: head" />
</head>
<body>
	<div class="container-fluid" data-sem="users_container">
			<div th:replace="fragments/navbar :: navbar(page='users')"></div>
			
			<div class="row">
				<div class="main">
					<ul class="list-group">
			    		<li class="container-fluid content list-group-item " data-sem="user_container" th:each="user : ${users}" data:sem-qualifier="${user.username}">
							<a href="#" th:href="@{/admin/users/__${user.username}__}" data-sem="user_request" data:sem-qualifier="${user.username}">
								<div class="row" >
				  					<div class="col-xs-10" >
				  						<h5>
												<span th:text="${user.username}"></span>
				  						</h5>
				  					</div>
								</div>
								<div class="row">
				  					<div class="col-xs-10">
				  						<small>
											<span th:text="${user.firstName}"></span>
											<span th:text="${user.lastName}"></span>
				  						</small>
				  					</div>
								</div>
							</a> 
						</li>
					</ul>
				</div>
				<!-- END MAIN TAG -->
			</div>
			<!-- END ROW TAG -->
	<!-- END CONTAINER TAG -->
	<div class="modal fade" data-sem="user_create_container" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form" action="#" th:action="@{/admin/users}" th:object="${user}"  autocomplete="off" method="post">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Create User</h4>
					</div>
					<div class="modal-body">
						<div th:replace="fragments/message :: alertdanger(message=${message})"></div>
						<div class="form-group">
							<label class="sr-only" th:text="#{general.name.label}">Username/Email</label>
							<input class="form-control" type="text" th:field="*{username}" th:placeholder="#{general.name.label}" autocomplete="off" data-sem="user_username"></input>
							<span class="error help-block" th:if="${#fields.hasErrors('*{username}')}" th:errors="*{username}">error</span>
						</div>
						<div class="form-group">
							<label class="sr-only" th:text="#{general.password.label}">Password</label>
							<input class="form-control" type="password" th:field="*{password}" autocomplete="off" data-sem="user_password"></input>
							<span class="error help-block" th:if="${#fields.hasErrors('*{password}')}" th:errors="*{password}">error</span>
						</div>
						<div class="form-group">
							<label class="sr-only" th:text="#{general.firstName.label}">First name</label>
							<input class="form-control" type="text" th:field="*{firstName}" th:placeholder="#{general.firstName.label}" autocomplete="off" data-sem="user_firstname"></input>
							<span class="error help-block" th:if="${#fields.hasErrors('*{firstName}')}" th:errors="*{firstName}">error</span>
						</div>
						<div class="form-group">
							<label class="sr-only" th:text="#{general.lastName.label}">Last name</label>
							<input class="form-control" type="text" th:field="*{lastName}" th:placeholder="#{general.lastName.label}" autocomplete="off" data-sem="user_lastname"></input>
							<span class="error help-block" th:if="${#fields.hasErrors('*{lastName}')}" th:errors="*{lastName}" >error</span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" th:text="#{general.add.label}" class="btn btn-primary" data-sem="user_save" >Add</button>
						<button type="button" th:text="#{general.cancel.label}" class="btn btn-default" data-dismiss="modal" data-sem="user_save_cancel">Cancel</button>							
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
</body>
</html>